RewriteEngine On
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://workpermitcloud.co.uk/hrms/$1 [R,L]
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

   RewriteEngine On

 

# Handle Authorization Header

RewriteCond %{HTTP:Authorization} .

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

 

# Redirect Trailing Slashes If Not A Folder...

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} (.+)/$

RewriteRule ^ %1 [L,R=301]

 

# Handle Front Controller...

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.jpeg|\.gif|\.woff|\.ttf|robots\.txt)$ [NC]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^ index.php [L]

 

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} !^/public/

RewriteRule ^(css|js|img|assets|empassets|employee|fonts|employee_doc|employee_logo|employee_quli_doc|employee_upload_doc|employee_vis_doc|employeeassets|company_upload_doc|candidate_resume|carrassests|employee_quli_doc2|candidate_cover_letter|employee_ps_add|employee_per_add|assetsemcor|candidate_up_doc|employee_pap_up|emp_pic|employee_ps_stat|pdf|addtohomescreen|upcsv|proof|billpdf|msg_file|msg_file_user|job_post|level_proof|key_proof|can_file_user|rcrop|demos|dist|libs|src|tasks)/(.*)$ public/$1/$2 [L,NC]
    
</IfModule>
